.header {
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #edad61;
    color: #fff;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 20px;
    background-color: #22222b;
    text-align: center;
    border-top: 1px solid #3f3f48;
    -webkit-box-shadow: -1px 33px 46px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 33px 46px -13px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 33px 46px -13px rgba(0, 0, 0, 0.75);
    font-family: "Lato", sans-serif;
    color: #a2abbd;
    height: 80px;
}
.nowPlaying {
    color: #edae61;
}

.stationName {
    margin: 0px;
    font-weight: normal;
}